<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.distribute.order.mapper.OrderMapper">

	
	<insert id="saveOrder" parameterType = "java.util.Map">
		insert into orders(id,product_id) values(#{id},#{productId})
	</insert>
	

</mapper>